        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" [src]="product.image" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">{{product._id}}</div>
                        <h1 class="display-5 fw-bolder">{{product.title}}</h1>
                        <div class="fs-5 mb-5">
                            <!-- <span class="text-decoration-line-through"></span> -->
                            <span>{{product.price}}</span>
                        </div>
                        <p class="lead">{{product.description}}</p>
                        <div class="d-flex">
                            <!-- <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> -->
                            <button (click)="addToCart(product)" class="btn btn-outline-dark flex-shrink-0 m-2" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                <i class="fa-solid fa-cart-plus fa-beat text-success"></i>
                                Add to cart
                            </button>
                            <button (click)="addToWishlist()" class="btn btn-outline-dark flex-shrink-0 m-2" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                <i class="fa-solid fa-heart me-1 fa-beat text-danger"></i>
                                Add to Wishlist
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
